.business-id-wrapper {
position: relative;
top: 200px;
left: 750px;
border: solid 10px black;
border-radius: 10px;
width: 500px;
}

.edit-business {
    position: relative;
    top: 250px;
    right: 200px;
}
