.markedstatic {
    /* border: 1px solid #884040; */
    background-color: #884040;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-left: 2px;
}

.unmarkedstatic {
    color: white;
    background-color: #cccaca;
    /* border: 1px solid #cccaca; */
    padding: 5px;
    border-radius: 4px;
    margin-left: 2px;
}

.halfstatic {
    background-image: linear-gradient(to left, #cccaca 0%, #cccaca 50%, #884040 50%, #884040 100% );
    color: white;
    background-color: #cccaca;
    /* border: 1px solid #cccaca; */
    border-radius: 4px;
    padding: 5px;
    margin-left: 1px;
}
