
.navigation {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    color: rgb(45, 46, 47);
    text-align: left;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    min-width: 97%

}

.homeLogo{
padding-top: 25px;
position: relative;
bottom: 10px;
left: 10px;
width: 200px;
}


.login {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 8px;
    color: whitesmoke;
    text-decoration: none;
    transition: background-color .5s;

}

.login:hover {
    background-color: whitesmoke;
    background: rgba(245, 245, 245, .4)
}

.signup {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(54, 15, 15);
    transition: background-color .5s;
}

.signup:hover {
    background-color: rgb(75, 23, 23);
}

.logout-wrapper {
    text-align: end;
    position: relative;
}

.searchbar1 {
    width: 400px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 13px 16px;
    border-radius: 4px 0 0 4px;
    cursor: text;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    margin-left: 100px;
}

.searchbar2 {
    width: 350px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 13px 16px;
    border-radius: 0px 0 0 0px;
    cursor: text;
    overflow: hidden;
    position: relative;
    border-left: 1px solid lightgray;
    color: black;
}

.searchbar2::placeholder {
    color: black;
}

.searchbar1:focus,
.searchbar2:focus {
    outline:none;
}

.searchbar-button {
    width: 50px;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0px 4px 4px 0px;
    color: black;
    cursor: pointer;
    transition: background-color .5s;
    background-color: rgb(54, 15, 15);
}

.searchbar-button:hover {
background-color: rgb(75, 23, 23);
}

.magnify {
    color: white;
}

.angledown {
color: whitesmoke;
margin-left: 10px;
}

.under-searchbar-text {
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
color:  white;
font-weight: 700;
display:inline-flex;
justify-content: center;
text-align: center;
margin-left: 40px;
position: relative;
font-size: 15px;
bottom: 10px
}

.under-wrapper {
    display: flex;
    position: absolute;
    right: 1055px;
    top: 90px
}

.under-searchbar-text:hover {
    border-bottom: 3px solid rgb(75, 23, 23);
    padding-bottom: 17px;
    cursor: pointer;
}

.profile-picture {
    width: 40px;
    border: transparent;
    border-radius: 50px;
    margin-left: 150px;
}

.profile-picture:hover {
    opacity: .8;
    cursor: pointer;
}


.settings {
  padding-bottom: 10px;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-left: 8px;
  transition: background-color
}

.create-a-business {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 8px;
    transition: background-color;
    text-decoration: none;
}


.logout {
padding-top: 10px;
background-color: white;
border:  transparent;
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 700;
margin-left: 10px;
transition: background-color
}

.profile-dropdown {
    border: transparent;
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 85px;
    right: 235px;
    margin: -230px;
    padding: 15px;
    list-style-type: none;
}

.cog,
.arrow,
.plus {
    margin-right: 5px
}

.logout:hover,
.settings:hover,
.create-a-business:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
}
